/* 
* @Author: Marte
* @Date:   2018-04-10 15:32:09
* @Last Modified by:   Marte
* @Last Modified time: 2018-04-11 18:24:54
*/
html,body{margin:0;padding:0;}
input{outline:none;}
a{text-decoration: none;}
ul,li{list-style: none;}

header{width:100%;height:85px;position:relative;border-bottom:1px solid #F5F5F5;}
header i{display:block;width:223px;height:76px;background:url("../img/logol.png") no-repeat;position:absolute;left:213px;top:8px;}
header .l_r{width:310px;height:55px;float:right;margin-top:30px;position:relative;margin-right: 130px;}
header .l_r i{display:block;width:47px;height:41px;background:url("../img/login_1.png") no-repeat;position:absolute;left:-55px;top:1px;}
header .l_r div{width:256px;}
header .l_r div span{line-height:24px;font-size:12px;color:#B1AAAA;}



main{height:638px;background-color: #FAFAFA;}
main .main_l{width:733px;position:relative;}
main .main_l i{display:block;width:278px;height:347px;background:url("../img/login_2.png") no-repeat;position:absolute;left:288px;top:66px;}

main .main_r{width:440px;height:456px;border:1px solid #E6E6E6;background-color: #fff;position:absolute;right:208px;top:108px;padding:0 20px;}
main .main_r h3{height:55px;line-height: 55px;text-align:center;font-size:20px;color:#FF500B;border-bottom:1px solid #E6E6E6;}

.main_r .main_b{width:350px;height:336px;padding:30px 65px;position:relative;}
.main_r .main_b span{display:inline-block;width:108px;height:54px;line-height:54px;text-align:center;font-size:12px;border:1px solid #E6E6E6;border-right:0 none;}
.main_r .main_b .sp1{position:absolute;left:65px;top:141px;}
.main_r .main_b .sp2{border-top:0 none;border-bottom:0 none;}
.main_r .main_b input{display:inline-block;vertical-align:top;border:1px solid #E6E6E6;border-left:0 none;}
.main_r .main_b .form1{width:240px;height:52px;margin-left:-5px;}
.main_r .main_b .form3{width:240px;height:52px;margin-left:-5px;border-top:0 none;}
.main_r .main_b .form2{height:52px;width:120px;margin-left: 110px;border-top:0 none;}

.main_r .main_b .output{display:block;width:118px;height:54px;background-color: #EBEBEB;position:absolute;right:65px;top:141px;}

.main_r .main_b .checkbox{margin-top: 25px;margin-bottom:25px;}

.main_r .main_b .btn{width:350px;height:43px;background-color: #FF500B;line-height: 43px;text-align:center;color:#FFFFEF;font-size:16px;border:0 none;}











.yg_footer{width:100%;height:190px;background-color: #343A3A;}
.yg_footer .ft_t{height:42px;line-height: 42px;text-align:center;font-size:12px;margin-left:400px;}
.yg_footer .ft_t li{float:left;}
.yg_footer .ft_t li span{padding-right: 14px;padding-left:14px;border-right:1px solid #FFFF;color:#ffff;}

.yg_footer .ft_c{height:33px;line-height: 33px;font-size:14px;text-align:center;}
.yg_footer .ft_c span{margin-right: 30px;color:#fff;}
.yg_footer .ft_c .ft_c0{width:180px;height:23px;position:relative;}
.yg_footer .ft_c .ft_c0 img{position:absolute;left:-25px;}


.yg_footer .ft_c1{height:36px;line-height: 36px;font-size:14px;text-align:center;}
.yg_footer .ft_c1 span{margin-right: 65px;color:#fff;}

.yg_footer .ft_b{height:79px;line-height: 79px;text-align:center;}
.yg_footer .ft_b span{margin-right: 12px;}